.card{
    width: 500px;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 1px 1px 20px black;
    height: 1000px;
    text-align: center;
}
.card img{
    width: 100%;
    height: 750px;
    border-radius: 5px;
    object-position: center;
    object-fit: cover;
}

@media (max-width: 1200px) {
    .card{
        width: 400px;
    }
}


@media (max-width: 1000px) {
    .card{
        width: 100% !important;
    }
    .card h1{
        font-size: 25px;
    }
}